body {
  background-image: linear-gradient(to right, black 0%, grey 100%), url("dark_embroidery.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

#outline {
  border-radius: 25px;
  box-shadow: 10px;
}

img:hover {
  opacity: 50%;
  cursor: crosshair;
}
